
@media (max-width: 991px) {
  .app-content{
    height:300px;
  }
}
@media (min-width: 992px) {
  .app-content{
    height:600px;
  }
}

.container-fluid{
  height:100%;

  .col-md-4{
    height:100%;
  }
  .arbys {
    background-color: red;
    position: relative;
    .arbys-bg-img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../../images/rsz_1rsz_arbys-image.jpg');
      transition: opacity .3s;

    }
    .arbys-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity .3s;

    }
  }
  .arbys:hover .arbys-bg-img{
    opacity: .55;

  }
  .arbys:hover .arbys-content{
    opacity: 1;
  }
  .subway{
    background-color: green;
    position: relative;
    .subway-bg-img{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../../images/Optimized-Subway-Image.jpg');
      transition: opacity .3s;
    }
    .subway-content{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-decoration: none;
      opacity: 0;
      transition: opacity .3s;
    }
  }
  .subway:hover .subway-bg-img{
    opacity: .55;
  }
  .subway:hover .subway-content{
    opacity: 1;
  }
  .gasngo{
    background-color: white;
    position: relative;
    .gasngo-bg-img{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../../images/Final-Gas-N-Go.jpg');
      transition: opacity .3s;
    }
    .gasngo-content{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-decoration: none;
      opacity: 0;
      transition: opacity .3s;
    }
  }
  .gasngo:hover .gasngo-bg-img{
    opacity: .55;
  }
  .gasngo:hover .gasngo-content{
    opacity: 1;
  }
}

.app-content{
  position: relative;
}

.slogan a{
  text-decoration: none !important;
  color:red !important;
}
.arbys-color{
  color: red;
}
.gasngo-color{
  color: white;
}
.subway-color{
  color: green;
}