<div class="arbys-color">
    <div>
        <h4>Welcome to Arby's!</h4>
        <h5>Have a Sandwich! Have a drink! Have you tried our curly fries?</h5>
    </div>
    <div>
        <p>At Arby's we strive to make this the best experience you have ever had in a fast-food joint.</p>
        <p>We love our customers, you are the reason we exist. Please, do not hesitate to give us suggestions, or to come to us with issues you may have.</p>
    </div>
    <div>
        <p>We are open every day of the week! Our Hours are:
            <ul>
                <li>Sunday:</li>
                <li>Monday:</li>
                <li>Tuesday:</li>
                <li>Wednesday:</li>
                <li>Thursday:</li>
                <li>Friday:</li>
                <li>Saturday:</li>
            </ul>
        </p>
        <p>We have two locations! One is located in Payson right off I-15. <!--Exit: ###.--> The other is in Green River.</p>
        <!--<p>Will post full address here once I get it.</p>-->
    </div>
    <!--<div>Ask for input on what else I should put here. I would like to add the monthly deals here, but won't until I create the Login page for admins so they can modify this area at will.</div>-->
</div>
