<div class="gasngo-color">
    <div>
        <h4>Welcome to Gas-N-GO!</h4>
        <h5>Your one stop shop for everything you need for the road! Fuel, drinks, and snacks! Also, don't forget about our spotless restrooms!</h5>
    </div>
    <div>
        <p>We have a large selection of goods for you and your family!</p>
        <p>Are we missing something? Please, let us know, we are really good at getting those unique products for our loyal customers!</p>
        <p>Don't forget the Ice!!</p>
    </div>
    <div>
        <p>We are open every day of the week in our many locations! Our hours are:
            <ul>
                <li>Sunday:</li>
                <li>Monday:</li>
                <li>Tuesday:</li>
                <li>Wednesday:</li>
                <li>Thursday:</li>
                <li>Friday:</li>
                <li>Saturday:</li>
            </ul>
        </p>
        <p>We have many locations to suite your needs! Please visit any of our 5 locations!</p>
        <p>Most of our locations also have Arby's or Subway attached to them as well as one has a Cowboy cafe!</p>
        <ul>
            <li>Green River, UT. Arby's attached.</li>
            <li>Lyman, WY. Cowboy Cafe attached.</li>
            <li>Payson, UT. Arby's and Subway attached.</li>
            <li>Price, UT</li>
            <li>Springville, UT. Subway attached.</li>
        </ul>
    </div>
</div>