
<!--This is From left to right-->
<div class="container-fluid">

    <!--Arby's-->
    <div class="col-xs-6 col-sm-4">
        <p>Arby's</p>
        <p>Delicious Food!</p>
        <p>Famed Roast Beef Sandwiches!</p>
    </div>

    <!--Gas-N-Go-->
    <div class="col-xs-6 col-sm-4">
        <p>Gas-N-Go</p>
        <p>Fuel</p>
        <p>Convenience Store</p>
    </div>

    <!--Subway-->
    <div class="col-xs-6 col-sm-4">
        <p>Subway</p>
        <p>Delicious Food!</p>
        <p>Famed Subs!</p>
    </div>
</div>