<!--This is From left to right-->
<div class="container-fluid">

  <!--Arby's-->
  <a href="#/store/arbys">
    <div class="col-md-4 arbys">
      <div class="arbys-bg-img"></div>
      <div class="arbys-content">
        <p>Arby's</p>
        <p>Delicious Food!</p>
        <p>Famed Roast Beef Sandwiches!</p>
      </div>
    </div>
  </a>

  <!--Gas-N-Go-->
  <a href="#/store/gasngo">
    <div class="col-md-4 gasngo">
      <div class="gasngo-bg-img"></div>
      <div class="gasngo-content">
        <p>Gas-N-Go</p>
        <p>Fuel</p>
        <p>Convenience Store</p>
      </div>
    </div>
  </a>


  <!--Subway-->
  <a href="#/store/subway">
    <div class="col-md-4 subway">
      <div class="subway-bg-img"></div>
      <div class="subway-content">
        <p>Subway</p>
        <p>Delicious Food!</p>
        <p>Famed Subs!</p>
      </div>
    </div>
  </a>

</div>