<!--This is From left to right-->
<div class="container-fluid">

  <!--Arby's-->
  <a href="#/store/arbys">
    <div class="col-md-4 arbys">
      <div class="arbys-bg-img"></div>
      <div class="arbys-content centered">
        <p class ="text-color">Arby's</p>
        <p class ="text-color">Delicious Food!</p>
        <p class ="text-color">Famed Roast Beef Sandwiches!</p>
      </div>
    </div>
  </a>

  <!--Gas-N-Go-->
  <a href="#/store/gasngo">
    <div class="col-md-4 gasngo">
      <div class="gasngo-bg-img"></div>
      <div class="gasngo-content centered">
        <p class ="text-color">Gas-N-Go</p>
        <p class ="text-color">Fuel!</p>
        <p class ="text-color">Convenience Store!</p>
      </div>
    </div>
  </a>


  <!--Subway-->
  <a href="#/store/subway">
    <div class="col-md-4 subway">
      <div class="subway-bg-img"></div>
      <div class="subway-content centered">
        <p class ="text-color">Subway</p>
        <p class ="text-color">Delicious Food!</p>
        <p class ="text-color">Famed Subs!</p>
      </div>
    </div>
  </a>

</div>