<div class="subway-color">
    <div>
        <h4>Welcome to Subway!</h4>
        <h5>Please, come on in and grab one of our world famous Subs!</h5>
    </div>
    <div>
        <p>There are literally thousands of combinations available!</p>
        <p>You can go with a basic combo of our Ham and cheese with mayo, lettuce, and tomatoes.</p>
        <p>Or maybe something a little more complex with a Turkey Bacon Avocado loaded with everthing on it!</p>
    </div>
    <div>
        <p>We are open every day of the week in our many locations! Our hours are:
            <ul>
                <li>Sunday: 8:00am-8:00pm</li>
                <li>Monday: 6:00am-9:00pm</li>
                <li>Tuesday: 6:00am-9:00pm</li>
                <li>Wednesday: 6:00am-9:00pm</li>
                <li>Thursday: 6:00am-9:00pm</li>
                <li>Friday: 6:00am-10:00pm</li>
                <li>Saturday: 6:00am-10:00pm</li>
            </ul>
        </p>
        <p>We have three locations:
            <ul>
                <li>Green River</li>
                <li>Payson</li>
                <li>Springville</li>
            </ul>
        </p>
    </div>
</div>